.button3 {
    top: 20px;
    left: 42%;
    width: 12%;
    padding: 15px 32px;
}

.textField3 {
    left: 42%;
    top: 20px;


}

.textCenter3 {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
}